In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
501,tt0126029,60000000,484409218,Shrek,Mike Myers|Eddie Murphy|Cameron Diaz|John Lith...,Andrew Adamson|Vicky Jenson,The greatest fairy tale never told.,It ain't easy bein' green -- especially if you...,90,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks SKG|Pacific Data Images (PDI)|Dream...,5/16/2001,7.1,2001
1404,tt0383222,25000000,2405420,BloodRayne,Kristanna Loken|Ben Kingsley|Michelle Rodrigue...,Uwe Boll,Revenge never tasted so sweet.,"In eighteenth century Romania, Rayne, a dhampi...",95,Action|Adventure|Fantasy|Horror,Boll KG,10/22/2005,3.8,2005
865,tt0268380,59000000,383257136,Ice Age,Ray Romano|John Leguizamo|Denis Leary|Goran Vi...,Chris Wedge|Carlos Saldanha,They came. They thawed. They conquered.,"With the impending ice age almost upon them, a...",81,Animation|Comedy|Family|Adventure,Twentieth Century Fox Film Corporation|Blue Sk...,3/10/2002,6.9,2002
1120,tt0314353,70000000,85632458,Tears of the Sun,Bruce Willis|Monica Bellucci|Cole Hauser|Eamon...,Antoine Fuqua,He was trained to follow orders. He became a h...,Navy SEAL Lieutenant A.K. Waters and his elite...,121,Action|Drama|War,Columbia Pictures|Revolution Studios|Cheyenne ...,3/7/2003,6.4,2003
299,tt1139668,16000000,76514050,The Unborn,Odette Annable|Gary Oldman|Meagan Good|Cam Gig...,David S. Goyer,Evil will do anything to live.,A young woman fights the spirit that is slowly...,87,Horror|Thriller|Mystery,Rogue Pictures|Phantom Four|Platinum Dunes|Rel...,1/9/2009,4.9,2009

In [21]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [16]:
answers = {}  # создадим словарь для ответов

# добавляем в датафрейм колонку прибыльности/убыточности фильма,
#которая рассчитывается как разность между сборами и бюджетом фильма:
'''
data['profit'] = data['revenue']-data['budget']

# оставляем в датафрейме только те фильмы, что были выпущены с 2012 по 2014 год:

data_2012_2014 = data.loc[data.release_year.isin([2012, 2013, 2014])]

# объявляем функцию для удаления разделителя:

def rm_slash (s):
    return str(s).split("|")

# the time given in the dataset is in string format.
# So we need to change this in datetime format

data['release_date'] = pd.to_datetime(data['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [7]:
data[data.budget == data.budget.max()][["original_title", "imdb_id"]].values[0]

array(['Pirates of the Caribbean: On Stranger Tides', 'tt1298650'],
      dtype=object)

ВАРИАНТ 2

In [8]:
# можно использовать метод groupby:
grouped_df = data.groupby(['original_title', 'imdb_id'])['budget'].max().sort_values(ascending=False).head(1)
display(grouped_df)

original_title                               imdb_id
Pirates of the Caribbean: On Stranger Tides  tt1298650    380000000
Name: budget, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = '2. Gods and Generals (tt0279111)'  # +

In [10]:
data[data.runtime == data.runtime.max()][["original_title", "imdb_id"]].values[0]

array(['Gods and Generals', 'tt0279111'], dtype=object)

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  # +

In [12]:
data[data.runtime == data.runtime.min()][["original_title", "imdb_id"]].values[0]

array(['Winnie the Pooh', 'tt1449283'], dtype=object)

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '2. 110'  # +

In [14]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'  # +

In [16]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = '5. Avatar (tt0499549)'  # +

In [18]:
data[data.profit == data.profit.max()][["original_title", "imdb_id"]].values[0]

array(['Avatar', 'tt0499549'], dtype=object)

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '5. The Lone Ranger (tt1210819)'  # +

In [20]:
data[data.profit == data.profit.min()][["original_title", "imdb_id"]].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1. 1478'  # +

In [22]:
data[data.revenue > data.budget].count().iloc[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = '4. The Dark Knight (tt0468569)'  # +

In [24]:
data[[data.revenue == data.revenue.max()] and data.release_year == 2008][["original_title", "imdb_id"]].values[0]

array(['The Dark Knight', 'tt0468569'], dtype=object)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
answers['10'] = '5. The Lone Ranger (tt1210819)'  # +

In [24]:
data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()][["original_title", "imdb_id"]].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

# 11. Какого жанра фильмов больше всего?

In [25]:
answers['11'] = '3. Drama'  # +

In [26]:
genres = data.copy()
genres.genres = genres.genres.str.split('|')
genres = genres.explode('genres')
genres.groupby(['genres']).genres.count().sort_values(ascending=False).index[0]

'Drama'

ВАРИАНТ 2

In [27]:
# можно использовать функцию для удаления разделителя:
genres.genres = genres.genres.apply(rm_slash)
genres = genres.explode('genres')
genres.groupby(['genres']).genres.count().sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = '1. Drama'  # +

In [29]:
movie_profit = data.copy()
movie_profit.genres = movie_profit.genres.str.split('|')
movie_profit = movie_profit.explode("genres")
movie_profit.groupby("genres").profit.count().sort_values(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
answers['13'] = '5. Peter Jackson'  # +

In [31]:
director_revenue = data.copy()
director_revenue.director = director_revenue.director.str.split('|')
director_revenue = director_revenue.explode("director")
director_revenue.groupby("director").revenue.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = '3. Robert Rodriguez'  # +

In [33]:
director_action = data[data.genres.str.contains("Action", na=False)].copy()
director_action.director = director_action.director.str.split('|')
director_action = director_action.explode('director')
director_action.groupby(['director']).director.count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [6]:
answers['15'] = '3. Chris Hemsworth'  # +

In [9]:
cast_revenue_2012 = data[data.release_year == 2012].copy()
cast_revenue_2012.cast = cast_revenue_2012.cast.str.split('|')
cast_revenue_2012 = cast_revenue_2012.explode("cast")
cast_revenue_2012.groupby("cast").revenue.sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
answers['16'] = '3. Matt Damon'  # +

In [41]:
cast_high_budget = data[data.budget > data.budget.mean()].copy()
cast_high_budget.cast = cast_high_budget.cast.str.split('|')
cast_high_budget = cast_high_budget.explode("cast")
cast_high_budget.groupby("cast").budget.count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = '2. Action'  # +

In [10]:
nicolas_cage = data[data.cast.str.contains('Nicolas Cage')].copy()
Counter(nicolas_cage.genres.str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [17]:
winter_director = data.copy()
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')
winter_director_groupby = winter_director[winter_director.release_date.dt.month.isin([1,2,12])]
winter_director_groupby.groupby('director')['imdb_id'].count().sort_values(ascending=False)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: imdb_id, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [40]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action'}

In [36]:
# и убедиться что ничего не пропустил)
len(answers)

13

In [29]:
'''import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
data.genres
data.genres = data.genres.str.split('|')
data.genres = data.genres.explode()

Добрый вечер. Добавьте copy() и ругаться перестанет )
data_genres = data[data.genres.str.contains('Action')].copy()
Вас предупреждают о том, что Вы вносите изменение только в часть значений в столбце director, 
т.к. data_genres всего лишь выборка из всего датафрейма. 
Применив copy() Вы сделаете data_genres самостоятельным датафреймом. (edited) 

nicolas_c = pd.read_csv('movie_bd_v5.csv')
nicolas_c = nicolas_c[nicolas_c.cast.str.contains('Nicolas Cage')]
collections.Counter(nicolas_c['genres'].str.cat(sep = '|').split('|')).most_common(1) (edited) 

lambda x: x.split('|')
high_budget_movie = data.copy() надо брать копию датасета, тобы ее не изменить

 "считая что кассовый сбор актера фильма = кассовому сбору фильма" т.е. считаем сумму сбора 
    по фильмам с разбивкой по актерам. Когда получаем итог - сортируем по убыванию и видим топ, 
    и сопоставляем с вариантами ответа.
    
    
director_splitted = data['director'].str.split('|', expand=False)
ans = director_splitted.explode()

winter_director = data.copy()
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')
winter_director['release_date'] = winter_director['release_date'].dt.month.isin([12, 1, 2])
winter_director.groupby('director')['release_date'].sum().sort_values(ascending=False)

Считаем количество слов, например так: data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
Считаем среднее по этому показателю в разрезе компаний и выбираем самое большое значение.


from collections import Counter
import itertools as it
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['cast_comb'] = data.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2))) актеры снимавшиеся вместе, волшебная кнопка
Counter(data.cast_comb.values.sum()).most_common(5)

data_12[data_12['profit'] > 0].groupby(by='genres')['profit'].count().sort_values(ascending=False)


data_genres=data.genres.str.split('|', expand=False).copy()
data_genres=data_genres.explode().sort_values(ascending=False).
#data_genres = data[data.genres.str.contains('Action')].copy()
data_genres


winter_director = data.copy()
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')
winter_director['release_date'] = winter_director['release_date'].dt.month.isin([12, 1, 2])
winter_director.groupby('director')['release_date'].sum().sort_values(ascending=False)

'''

'import numpy as np\nimport pandas as pd\nimport seaborn as sns\nimport matplotlib.pyplot as plt\nfrom collections import Counter\ndata = pd.read_csv(\'movie_bd_v5.csv\')\ndata.genres\ndata.genres = data.genres.str.split(\'|\')\ndata.genres = data.genres.explode()\n\nДобрый вечер. Добавьте copy() и ругаться перестанет )\ndata_genres = data[data.genres.str.contains(\'Action\')].copy()\nВас предупреждают о том, что Вы вносите изменение только в часть значений в столбце director, \nт.к. data_genres всего лишь выборка из всего датафрейма. \nПрименив copy() Вы сделаете data_genres самостоятельным датафреймом. (edited) \n\nnicolas_c = pd.read_csv(\'movie_bd_v5.csv\')\nnicolas_c = nicolas_c[nicolas_c.cast.str.contains(\'Nicolas Cage\')]\ncollections.Counter(nicolas_c[\'genres\'].str.cat(sep = \'|\').split(\'|\')).most_common(1) (edited) \n\nlambda x: x.split(\'|\')\nhigh_budget_movie = data.copy() надо брать копию датасета, тобы ее не изменить\n\n "считая что кассовый сбор актера фильма = кассовому сбору фильма" т.е. считаем сумму сбора \n    по фильмам с разбивкой по актерам. Когда получаем итог - сортируем по убыванию и видим топ, \n    и сопоставляем с вариантами ответа.\n    \n    \ndirector_splitted = data[\'director\'].str.split(\'|\', expand=False)\nans = director_splitted.explode()\n\nwinter_director = data.copy()\nwinter_director[\'director\'] = winter_director[\'director\'].str.split(\'|\')\nwinter_director = winter_director.explode(\'director\')\nwinter_director[\'release_date\'] = winter_director[\'release_date\'].dt.month.isin([12, 1, 2])\nwinter_director.groupby(\'director\')[\'release_date\'].sum().sort_values(ascending=False)\n\nСчитаем количество слов, например так: data[\'overview_words_length\'] = data.overview.map(lambda x: len(x.split(\' \')))\nСчитаем среднее по этому показателю в разрезе компаний и выбираем самое большое значение.\n\n\nfrom collections import Counter\nimport itertools as it\nimport pandas as pd\ndata = pd.read_csv(\'movie_bd_v5.csv\')\ndata[\'cast_comb\'] = data.cast.str.split(\'|\').apply(lambda x: tuple(it.combinations(sorted(x),2))) актеры снимавшиеся вместе, волшебная кнопка\nCounter(data.cast_comb.values.sum()).most_common(5)\n\ndata_12[data_12[\'profit\']\xa0>\xa00].groupby(by=\'genres\')[\'profit\'].count().sort_values(ascending=False)\n\n\ndata_genres=data.genres.str.split(\'|\', expand=False).copy()\ndata_genres=data_genres.explode().sort_values(ascending=False).\n#data_genres = data[data.genres.str.contains(\'Action\')].copy()\ndata_genres\n\n\nwinter_director = data.copy()\nwinter_director[\'director\'] = winter_director[\'director\'].str.split(\'|\')\nwinter_director = winter_director.explode(\'director\')\nwinter_director[\'release_date\'] = winter_director[\'release_date\'].dt.month.isin([12, 1, 2])\nwinter_director.groupby(\'director\')[\'release_date\'].sum().sort_values(ascending=False)\n\n'