In [1]:
import pandas as pd
from collections import Counter
import itertools as it

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
721,tt0780504,15000000,76175166,Drive,Ryan Gosling|Carey Mulligan|Christina Hendrick...,Nicolas Winding Refn,There are no clean getaways.,A mysterious Hollywood stuntman who moonlights...,100,Drama|Action|Thriller|Crime,Bold Films|Marc Platt Productions|Odd Lot Ente...,1/10/2011,7.3,2011
834,tt1334512,40000000,45735397,Arthur,Russell Brand|Helen Mirren|Greta Gerwig|Jennif...,Jason Winer,Meet the world's only loveable billionaire.,A drunken playboy stands to lose a wealthy inh...,110,Comedy|Romance,Warner Bros.,4/8/2011,5.3,2011
1295,tt1413495,35000000,13785015,Paranoia,Liam Hemsworth|Harrison Ford|Gary Oldman|Amber...,Robert Luketic,In a war between kings even a pawn can change ...,An entry-level employee at a powerful corporat...,106,Drama|Thriller,Gaumont|Kintop Pictures|Reliance Entertainment...,8/14/2013,5.6,2013
771,tt1625346,12000000,22939027,Young Adult,Charlize Theron|Patton Oswalt|Patrick Wilson|E...,Jason Reitman,Everyone gets old. Not everyone grows up.,A divorced writer from the Midwest returns to ...,94,Comedy|Drama|Romance,Paramount Pictures|Denver and Delilah Producti...,12/16/2011,5.2,2011
402,tt1245526,58000000,71664962,RED,Bruce Willis|John Malkovich|Helen Mirren|Mary-...,Robert Schwentke,Still armed. Still dangerous. Still got it.,When his peaceful life is threatened by a high...,111,Action|Adventure|Comedy|Crime|Thriller,DC Comics|Di Bonaventura Pictures|Summit Enter...,10/13/2010,6.5,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}  # создадим словарь для ответов

# добавляем в датафрейм колонку прибыльности/убыточности фильма,
# которая рассчитывается как разность между сборами и бюджетом фильма:

data['profit'] = data['revenue']-data['budget']

# создаем отдельный датафрейм, в котором только те фильмы, что были выпущены с 2012 по 2014 год:

data_2012_2014 = data.loc[data.release_year.isin([2012, 2013, 2014])]

# объявляем функцию для удаления разделителя:


def rm_slash(s):
    return str(s).split("|")

# время в датафрейме дано в строчном формате, конвертируем в datetime формат.

data['release_date'] = pd.to_datetime(data['release_date'])

# добавляем в датафрейм колонку количества символов в названиях фильмов

data['title_count_symbol'] = data.original_title.map(lambda x: len(x))

# добавляем в датафрейм колонку количества слов в описании фильмов

data['overview_count_words'] = data.overview.map(lambda x: len(x.split(' ')))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [6]:
data[data.budget == data.budget.max()][["original_title", "imdb_id"]].values[0]

array(['Pirates of the Caribbean: On Stranger Tides', 'tt1298650'],
      dtype=object)

ВАРИАНТ 2

In [7]:
# можно использовать метод groupby:
data.groupby(['original_title', 'imdb_id'])['budget'].max().sort_values(ascending=False).head(1)

original_title                               imdb_id
Pirates of the Caribbean: On Stranger Tides  tt1298650    380000000
Name: budget, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = '2. Gods and Generals (tt0279111)'  # +

In [9]:
data[data.runtime == data.runtime.max()][["original_title", "imdb_id"]].values[0]

array(['Gods and Generals', 'tt0279111'], dtype=object)

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  # +

In [11]:
data[data.runtime == data.runtime.min()][["original_title", "imdb_id"]].values[0]

array(['Winnie the Pooh', 'tt1449283'], dtype=object)

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'  # +

In [13]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'  # +

In [15]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '5. Avatar (tt0499549)'  # +

In [17]:
data[data.profit == data.profit.max()][["original_title", "imdb_id"]].values[0]

array(['Avatar', 'tt0499549'], dtype=object)

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819)'  # +

In [19]:
data[data.profit == data.profit.min()][["original_title", "imdb_id"]].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1. 1478'  # +

In [21]:
data[data.revenue > data.budget].count().iloc[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '4. The Dark Knight (tt0468569)'  # +

In [23]:
data[[data.revenue == data.revenue.max()] and data.release_year == 2008][["original_title", "imdb_id"]].values[0]

array(['The Dark Knight', 'tt0468569'], dtype=object)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '5. The Lone Ranger (tt1210819)'  # +

In [25]:
data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()][["original_title", "imdb_id"]].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = '3. Drama'  # +

In [27]:
genres = data.copy()
genres.genres = genres.genres.str.split('|')
genres = genres.explode('genres')
genres.groupby(['genres']).genres.count().sort_values(ascending=False).index[0]

'Drama'

ВАРИАНТ 2

In [28]:
# можно использовать функцию для удаления разделителя:
genres = data.copy()
genres.genres = genres.genres.apply(rm_slash) 
genres = genres.explode('genres')
genres.groupby(['genres']).genres.count().sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = '1. Drama'  # +

In [30]:
movie_profit = data.copy()
movie_profit.genres = movie_profit.genres.str.split('|')
movie_profit = movie_profit.explode("genres")
movie_profit.groupby("genres").profit.count().sort_values(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [31]:
answers['13'] = '5. Peter Jackson'  # +

In [32]:
director_revenue = data.copy()
director_revenue.director = director_revenue.director.str.split('|')
director_revenue = director_revenue.explode("director")
director_revenue.groupby("director").revenue.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = '3. Robert Rodriguez'  # +

In [34]:
director_action = data[data.genres.str.contains("Action", na=False)].copy()
director_action.director = director_action.director.str.split('|')
director_action = director_action.explode('director')
director_action.groupby(['director']).director.count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = '3. Chris Hemsworth'  # +

In [36]:
cast_revenue_2012 = data[data.release_year == 2012].copy()
cast_revenue_2012.cast = cast_revenue_2012.cast.str.split('|')
cast_revenue_2012 = cast_revenue_2012.explode("cast")
cast_revenue_2012.groupby("cast").revenue.sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = '3. Matt Damon'  # +

In [38]:
cast_high_budget = data[data.budget > data.budget.mean()].copy() # считаем высокобюджетными те фильмы, 
                                                                 # что больше усредненного бюджета всех фильмов в датафрейме
cast_high_budget.cast = cast_high_budget.cast.str.split('|')
cast_high_budget = cast_high_budget.explode("cast")
cast_high_budget.groupby("cast").budget.count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = '2. Action'  # +

In [40]:
nicolas_cage = data[data.cast.str.contains('Nicolas Cage')].copy()
Counter(nicolas_cage.genres.str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'  # +

In [42]:
paramount_profit = data[data.production_companies.str.contains('Paramount Pictures')].copy()
paramount_profit[paramount_profit.profit == paramount_profit.profit.min()][["original_title", "imdb_id"]].values[0]

array(['K-19: The Widowmaker', 'tt0267626'], dtype=object)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '5. 2015'  # +

In [44]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '1. 2014'  # +

In [46]:
profit_warner = data[data.production_companies.str.contains('Warner Bros')].copy()
profit_warner.production_companies = profit_warner.production_companies.str.split('|')
profit_warner = profit_warner.explode("production_companies")
profit_warner.groupby('release_year').profit.sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = '4. Сентябрь'  # +

In [48]:
Counter(data.release_date.dt.month).most_common(1)

[(9, 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '2. 450'  # +

In [50]:
data[data.release_date.dt.month.isin([6,7,8])].count().values[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = '5. Peter Jackson'  # +

In [52]:
director_winter = data.copy()
director_winter.director = director_winter.director.str.split('|')
director_winter = director_winter.explode('director')
director_winter = director_winter[director_winter.release_date.dt.month.isin([1,2,12])]
director_winter.groupby("director")['release_date'].count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = '5. Four By Two Productions'  # +

In [54]:
data.groupby(['production_companies','original_title'])['title_count_symbol'].max().sort_values(ascending=False).index[0]
# Очень было интересно, что за фильм-то такой с самым длинным названием, поэтому и название фильма вывел.
# Я этот фильм смотрел. Очень смешной :)
# Разделять студии в датафрейме не стал, все равно они указывают на один и тот же фильм

('Twentieth Century Fox Film Corporation|Four By Two Productions',
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan')

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = '3. Midnight Picture Show'  # +

In [56]:
overview_count_words = data.copy()
overview_count_words.production_companies = overview_count_words.production_companies.str.split('|').copy()
overview_count_words = overview_count_words.explode('production_companies')
overview_count_words.groupby(['production_companies'])['overview_count_words'].mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'  # +

In [58]:
data.original_title[data.vote_average > data.vote_average.quantile(.99)]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [59]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'  # +

In [60]:
# волшебная кнопка от Сергея Мещерякова, сам не смог :( Код сам понял.
data['cast_comb'] = data.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2)))
Counter(data.cast_comb.values.sum()).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

ВАРИАНТ 2

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [62]:
# и убедиться что ничего не пропустил)
len(answers)

27