In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
398,tt0477080,100000000,167805466,Unstoppable,Denzel Washington|Chris Pine|Rosario Dawson|Et...,Tony Scott,"1,000,000 Tons. 100,000 Lives. 100 Minutes.","A runaway train, transporting deadly, toxic ch...",98,Action|Thriller,Twentieth Century Fox Film Corporation|Scott F...,11/4/2010,6.2,2010
277,tt1182345,5000000,9760104,Moon,Sam Rockwell|Kevin Spacey|Dominique McElligott...,Duncan Jones,The last place you'd ever expect to find yours...,With only three weeks left in his three year c...,97,Science Fiction|Drama,Liberty Films UK|Lunar Industries|Xingu Films|...,6/12/2009,7.4,2009
376,tt1320253,80000000,274470394,The Expendables,Sylvester Stallone|Jason Statham|Dolph Lundgre...,Sylvester Stallone,Choose Your Weapon.,Barney Ross leads a band of highly skilled mer...,103,Action|Thriller,Millennium Films,8/3/2010,5.9,2010
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1668,tt0349710,60000000,74541707,Ladder 49,Joaquin Phoenix|John Travolta|Jacinda Barrett|...,Jay Russell,Their greatest challenge lies in rescuing one ...,"Under the watchful eye of his mentor, Captain ...",115,Drama|Action|Thriller,Casey Silver Productions|Beacon Communications...,10/1/2004,6.0,2004

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {}  # создадим словарь для ответов

# добавляем в датафрейм колонку прибыльности/убыточности фильма,
# которая рассчитывается как разность между сборами и бюджетом фильма:

data['profit'] = data['revenue']-data['budget']

# создаем отдельный датафрейм, в котором только те фильмы, что были выпущены с 2012 по 2014 год:

data_2012_2014 = data.loc[data.release_year.isin([2012, 2013, 2014])]

# объявляем функцию для удаления разделителя:


def rm_slash(s):
    return str(s).split("|")

# the time given in the dataset is in string format.
# So we need to change this in datetime format:


data['release_date'] = pd.to_datetime(data['release_date'])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [8]:
data[data.budget == data.budget.max()][["original_title", "imdb_id"]].values[0]

array(['Pirates of the Caribbean: On Stranger Tides', 'tt1298650'],
      dtype=object)

ВАРИАНТ 2

In [9]:
# можно использовать метод groupby:
grouped_df = data.groupby(['original_title', 'imdb_id'])['budget'].max().sort_values(ascending=False).head(1)
display(grouped_df)

original_title                               imdb_id
Pirates of the Caribbean: On Stranger Tides  tt1298650    380000000
Name: budget, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
answers['2'] = '2. Gods and Generals (tt0279111)'  # +

In [11]:
data[data.runtime == data.runtime.max()][["original_title", "imdb_id"]].values[0]

array(['Gods and Generals', 'tt0279111'], dtype=object)

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  # +

In [13]:
data[data.runtime == data.runtime.min()][["original_title", "imdb_id"]].values[0]

array(['Winnie the Pooh', 'tt1449283'], dtype=object)

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '2. 110'  # +

In [15]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '1. 107'  # +

In [17]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = '5. Avatar (tt0499549)'  # +

In [19]:
data[data.profit == data.profit.max()][["original_title", "imdb_id"]].values[0]

array(['Avatar', 'tt0499549'], dtype=object)

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = '5. The Lone Ranger (tt1210819)'  # +

In [21]:
data[data.profit == data.profit.min()][["original_title", "imdb_id"]].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1. 1478'  # +

In [23]:
data[data.revenue > data.budget].count().iloc[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = '4. The Dark Knight (tt0468569)'  # +

In [25]:
data[[data.revenue == data.revenue.max()] and data.release_year == 2008][["original_title", "imdb_id"]].values[0]

array(['The Dark Knight', 'tt0468569'], dtype=object)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = '5. The Lone Ranger (tt1210819)'  # +

In [27]:
data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()][["original_title", "imdb_id"]].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

# 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = '3. Drama'  # +

In [29]:
genres = data.copy()
genres.genres = genres.genres.str.split('|')
genres = genres.explode('genres')
genres.groupby(['genres']).genres.count().sort_values(ascending=False).index[0]

'Drama'

ВАРИАНТ 2

In [30]:
# можно использовать функцию для удаления разделителя:
genres = data.copy()
genres.genres = genres.genres.apply(rm_slash) 
genres = genres.explode('genres')
genres.groupby(['genres']).genres.count().sort_values(ascending=False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = '1. Drama'  # +

In [32]:
movie_profit = data.copy()
movie_profit.genres = movie_profit.genres.str.split('|')
movie_profit = movie_profit.explode("genres")
movie_profit.groupby("genres").profit.count().sort_values(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
answers['13'] = '5. Peter Jackson'  # +

In [34]:
director_revenue = data.copy()
director_revenue.director = director_revenue.director.str.split('|')
director_revenue = director_revenue.explode("director")
director_revenue.groupby("director").revenue.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = '3. Robert Rodriguez'  # +

In [36]:
director_action = data[data.genres.str.contains("Action", na=False)].copy()
director_action.director = director_action.director.str.split('|')
director_action = director_action.explode('director')
director_action.groupby(['director']).director.count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = '3. Chris Hemsworth'  # +

In [38]:
cast_revenue_2012 = data[data.release_year == 2012].copy()
cast_revenue_2012.cast = cast_revenue_2012.cast.str.split('|')
cast_revenue_2012 = cast_revenue_2012.explode("cast")
cast_revenue_2012.groupby("cast").revenue.sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = '3. Matt Damon'  # +

In [41]:
cast_high_budget = data[data.budget > data.budget.mean()].copy() # считаем высокобюджетными те фильмы, 
                                                                 # что больше усредненного бюджета всех фильмов в датафрейме
cast_high_budget.cast = cast_high_budget.cast.str.split('|')
cast_high_budget = cast_high_budget.explode("cast")
cast_high_budget.groupby("cast").budget.count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = '2. Action'  # +

In [43]:
nicolas_cage = data[data.cast.str.contains('Nicolas Cage')].copy()
Counter(nicolas_cage.genres.str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'  # +

In [45]:
paramount_profit = data[data.production_companies.str.contains('Paramount Pictures')].copy()
paramount_profit[paramount_profit.profit == paramount_profit.profit.min()][["original_title", "imdb_id"]].values[0]

array(['K-19: The Widowmaker', 'tt0267626'], dtype=object)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '5. 2015'  # +

In [47]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '1. 2014'  # +

In [49]:
profit_warner = data[data.production_companies.str.contains('Warner Bros')].copy()
profit_warner.production_companies = profit_warner.production_companies.str.split('|')
profit_warner = profit_warner.explode("production_companies")
profit_warner.groupby('release_year').profit.sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = '4. Сентябрь'  # +

In [51]:
Counter(data.release_date.dt.month).most_common(1)

[(9, 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '2. 450'  # +

In [53]:
data[data.release_date.dt.month.isin([6,7,8])].count().values[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
answers['23'] = '5. Peter Jackson'  # +

In [54]:
director_winter = data.copy()
director_winter.director = director_winter.director.str.split('|')
director_winter = director_winter.explode('director')
director_winter = director_winter[director_winter.release_date.dt.month.isin([1,2,12])]
director_winter.groupby("director")['release_date'].count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [57]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson'}

In [58]:
# и убедиться что ничего не пропустил)
len(answers)

23

In [1]:
'''

Считаем количество слов, например так: data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
Считаем среднее по этому показателю в разрезе компаний и выбираем самое большое значение.


from collections import Counter
import itertools as it
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['cast_comb'] = data.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2))) актеры снимавшиеся вместе, волшебная кнопка
Counter(data.cast_comb.values.sum()).most_common(5)


'''

"\n\nСчитаем количество слов, например так: data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))\nСчитаем среднее по этому показателю в разрезе компаний и выбираем самое большое значение.\n\n\nfrom collections import Counter\nimport itertools as it\nimport pandas as pd\ndata = pd.read_csv('movie_bd_v5.csv')\ndata['cast_comb'] = data.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2))) актеры снимавшиеся вместе, волшебная кнопка\nCounter(data.cast_comb.values.sum()).most_common(5)\n\n\n"