In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1155,tt0305669,20000000,132675402,Bringing Down The House,Steve Martin|Queen Latifah|Eugene Levy|Joan Pl...,Adam Shankman,"Everything he needed to know about life, she l...","Straight-laced lawyer, Peter Sanderson (Steve ...",105,Comedy,Hyde Park Films|Touchstone Pictures,3/7/2003,5.3,2003
1538,tt0452624,32000000,5914908,The Good German,George Clooney|Cate Blanchett|Tobey Maguire|To...,Steven Soderbergh,"If war is Hell, then what comes after?",An American journalist played by George Cloone...,108,War|Crime|Drama|Mystery|Romance,Warner Bros.|Section Eight Productions|Sunset ...,12/8/2006,5.8,2006
1457,tt0397313,40000000,120455994,Eight Below,Paul Walker|Bruce Greenwood|Moon Bloodgood|Jas...,Frank Marshall,"The Most Amazing Story Of Survival, Friendship...","In the Antarctic, after an expedition with Dr....",120,Adventure|Drama|Family,Walt Disney Pictures|Spyglass Entertainment|Ve...,2/17/2006,6.6,2006
1414,tt0424774,50000000,69425966,The Adventures of Sharkboy and Lavagirl,Taylor Lautner|Taylor Dooley|Cayden Boyd|Georg...,Robert Rodriguez,Smaller heroes. Just as super.,Max conjures up his perfect dreamworld...the P...,92,Adventure|Fantasy|Action|Family,Columbia Pictures Corporation|Dimension Films,6/10/2005,4.3,2005
669,tt0497465,15000000,96408652,Vicky Cristina Barcelona,Scarlett Johansson|Rebecca Hall|Javier Bardem|...,Woody Allen,Life is the ultimate work of art,Two girlfriends on a summer holiday in Spain b...,96,Drama|Romance,The Weinstein Company|Gravier Productions|Ante...,8/15/2008,6.7,2008

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [24]:
answers = {}  # создадим словарь для ответов

''' добавляем в датафрейм колонку прибыльности/убыточности фильма,
    которая рассчитывается как разность между сборами и бюджетом фильма:
'''
data['profit'] = data['revenue']-data['budget']

# оставляем в датафрейме только те фильмы, что были выпущены с 2012 по 2014 год:

data_squeeze = data.loc[data.release_year.isin([2012, 2013, 2014])]

# the time given in the dataset is in string format.
# So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [6]:
data[data.budget == data.budget.max()][["original_title", "imdb_id"]].values[0]

array(['Pirates of the Caribbean: On Stranger Tides', 'tt1298650'],
      dtype=object)

ВАРИАНТ 2

In [5]:
grouped_df = data.groupby(['original_title', 'imdb_id'])[
    'budget'].max().sort_values(ascending=False).head(1)
display(grouped_df)

original_title                               imdb_id
Pirates of the Caribbean: On Stranger Tides  tt1298650    380000000
Name: budget, dtype: int64

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = '2. Gods and Generals (tt0279111)'  # +

In [9]:
data[data['runtime'] == data['runtime'].max()][["original_title",
                                                "imdb_id"]].values[0]

array(['Gods and Generals', 'tt0279111'], dtype=object)

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'  # +

In [11]:
data[data['runtime'] == data['runtime'].min()][["original_title",
                                                "imdb_id"]].values[0]

array(['Winnie the Pooh', 'tt1449283'], dtype=object)

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'  # +

In [25]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'  # +

In [15]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '5. Avatar (tt0499549)'  # +

In [20]:
data[data.profit == data.profit.max()][["original_title",
                                              "imdb_id"]].values[0]

array(['Avatar', 'tt0499549'], dtype=object)

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819)'  # +

In [24]:
data[data.profit == data.profit.min()][["original_title",
                                              "imdb_id"]].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1. 1478'  # +

In [23]:
data[data.revenue > data.budget].count().iloc[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
answers['9'] = '4. The Dark Knight (tt0468569)'  # +

In [27]:
data[[data.revenue == data.revenue.max()] and data.release_year == 2008][[
    "original_title", "imdb_id"]].values[0]

array(['The Dark Knight', 'tt0468569'], dtype=object)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
answers['10'] = '5. The Lone Ranger (tt1210819)'  # +

In [30]:
data_squeeze[data_squeeze.profit == data_squeeze.profit.min()][[
    "original_title", "imdb_id"]].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

In [23]:
'''import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
data.genres
data.genres = data.genres.str.split('|')
data.genres = data.genres.explode()

Добрый вечер. Добавьте copy() и ругаться перестанет )
data_genres = data[data.genres.str.contains('Action')].copy()
Вас предупреждают о том, что Вы вносите изменение только в часть значений в столбце director, 
т.к. data_genres всего лишь выборка из всего датафрейма. 
Применив copy() Вы сделаете data_genres самостоятельным датафреймом. (edited) 

nicolas_c = pd.read_csv('movie_bd_v5.csv')
nicolas_c = nicolas_c[nicolas_c.cast.str.contains('Nicolas Cage')]
collections.Counter(nicolas_c['genres'].str.cat(sep = '|').split('|')).most_common(1) (edited) 

lambda x: x.split('|')
high_budget_movie = data.copy() надо брать копию датасета, тобы ее не изменить

 "считая что кассовый сбор актера фильма = кассовому сбору фильма" т.е. считаем сумму сбора 
    по фильмам с разбивкой по актерам. Когда получаем итог - сортируем по убыванию и видим топ, 
    и сопоставляем с вариантами ответа.
    
    
director_splitted = data['director'].str.split('|', expand=False)
ans = director_splitted.explode()

winter_director = data.copy()
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')
winter_director['release_date'] = winter_director['release_date'].dt.month.isin([12, 1, 2])
winter_director.groupby('director')['release_date'].sum().sort_values(ascending=False)

Считаем количество слов, например так: data['overview_words_length'] = data.overview.map(lambda x: len(x.split(' ')))
Считаем среднее по этому показателю в разрезе компаний и выбираем самое большое значение.


from collections import Counter
import itertools as it
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['cast_comb'] = data.cast.str.split('|').apply(lambda x: tuple(it.combinations(sorted(x),2))) актеры снимавшиеся вместе, волшебная кнопка
Counter(data.cast_comb.values.sum()).most_common(5)

data_12[data_12['profit'] > 0].groupby(by='genres')['profit'].count().sort_values(ascending=False)
'''

'import numpy as np\nimport pandas as pd\nimport seaborn as sns\nimport matplotlib.pyplot as plt\nfrom collections import Counter\ndata = pd.read_csv(\'movie_bd_v5.csv\')\ndata.genres\ndata.genres = data.genres.str.split(\'|\')\ndata.genres = data.genres.explode()\n\nДобрый вечер. Добавьте copy() и ругаться перестанет )\ndata_genres = data[data.genres.str.contains(\'Action\')].copy()\nВас предупреждают о том, что Вы вносите изменение только в часть значений в столбце director, \nт.к. data_genres всего лишь выборка из всего датафрейма. \nПрименив copy() Вы сделаете data_genres самостоятельным датафреймом. (edited) \n\nnicolas_c = pd.read_csv(\'movie_bd_v5.csv\')\nnicolas_c = nicolas_c[nicolas_c.cast.str.contains(\'Nicolas Cage\')]\ncollections.Counter(nicolas_c[\'genres\'].str.cat(sep = \'|\').split(\'|\')).most_common(1) (edited) \n\nlambda x: x.split(\'|\')\nhigh_budget_movie = data.copy() надо брать копию датасета, тобы ее не изменить\n\n "считая что кассовый сбор актера фильма = кассовому сбору фильма" т.е. считаем сумму сбора \n    по фильмам с разбивкой по актерам. Когда получаем итог - сортируем по убыванию и видим топ, \n    и сопоставляем с вариантами ответа.\n    \n    \ndirector_splitted = data[\'director\'].str.split(\'|\', expand=False)\nans = director_splitted.explode()\n\nwinter_director = data.copy()\nwinter_director[\'director\'] = winter_director[\'director\'].str.split(\'|\')\nwinter_director = winter_director.explode(\'director\')\nwinter_director[\'release_date\'] = winter_director[\'release_date\'].dt.month.isin([12, 1, 2])\nwinter_director.groupby(\'director\')[\'release_date\'].sum().sort_values(ascending=False)\n\nСчитаем количество слов, например так: data[\'overview_words_length\'] = data.overview.map(lambda x: len(x.split(\' \')))\nСчитаем среднее по этому показателю в разрезе компаний и выбираем самое большое значение.\n\n\nfrom collections import Counter\nimport itertools as it\nimport pandas as pd\ndata = pd.read_csv(\'movie_bd_v5.csv\')\ndata[\'cast_comb\'] = data.cast.str.split(\'|\').apply(lambda x: tuple(it.combinations(sorted(x),2))) актеры снимавшиеся вместе, волшебная кнопка\nCounter(data.cast_comb.values.sum()).most_common(5)\n\ndata_12[data_12[\'profit\']\xa0>\xa00].groupby(by=\'genres\')[\'profit\'].count().sort_values(ascending=False)\n'

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [22]:
data_genres=data.genres.str.split('|', expand=False).copy()
data_genres=data_genres.explode().sort_values(ascending=False).
#data_genres = data[data.genres.str.contains('Action')].copy()
data_genres

5107

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [13]:
director_splitted = data['director'].str.split('|', expand=False).copy()
ans = director_splitted.explode()
ans

0        Colin Trevorrow
1          George Miller
2       Robert Schwentke
3            J.J. Abrams
4              James Wan
              ...
1884        Bryan Singer
1885            Uli Edel
1886         Des McAnuff
1887        Diane Keaton
1888        Mary Lambert
Name: director, Length: 2053, dtype: object

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

In [10]:
winter_director = data.copy()
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')
winter_director['release_date'] = winter_director['release_date'].dt.month.isin([12, 1, 2])
winter_director.groupby('director')['release_date'].sum().sort_values(ascending=False)

AttributeError: Can only use .dt accessor with datetimelike values

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)